debug = true
address = "127.0.0.1:8080"

[cache]
size = 5000

[[upstreams]]
name = "books"
dns = 60  #seconds
headers = ["Authorization","Date"]
  [[upstreams.transports]]
  address = "http://127.0.0.1:3004"
  keepalive = 32

[[routes]]
name = "books"
method = "GET"
path = "/v1/books"
upstream = "books"
slow = 500 #milliseconds
cache = 300 #seconds
