debug = true
address = "127.0.0.1:8080"
[[upstreams]]
name = "test"
dns = 60
headers = ["Authorization","Date"]
  [[upstreams.transports]]
  address = "http://127.0.0.1:3000"
  keepalive = 32

[[routes]]
name = "users"
method = "GET"
path = "/v1/users"
upstream = "test"
slow = 500
cache = 300
